/*****************************************************************************
* WEB422 – Project
* I declare that this assignment is my own work in accordance with SenecaAcademic Policy.
* No part of this assignment has been copied manually or electronically from any other source
* (including web sites) or distributed to other students.
*
* Group member Name: Amir Mullagaliev, Duc Long Hoang
* Student IDs: 128102225, 122702228
* Date: 08/13/2024
*****************************************************************************/

body {
    background-image: url('../public/pics/svech.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dark-modal .modal-content {
    background-color: #333; /* dark grey */
    color: #fff; /* white text */
}

.register{
    background-image: url('../public/pics/kuch.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pagination-item {
    --bs-pagination-active-border-color: red;
    --bs-pagination-color: white;
    --bs-pagination-active-color: red;
    --bs-pagination-bg: #333;
    --bs-pagination-active-bg: rgba(0, 0, 0, 0.5);
    --bs-pagination-hover-color: black;
    --bs-pagination-hover-bg: red;
}