body {
    background-image: url('../public/pics/svech.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dark-modal .modal-content {
    background-color: #333; /* dark grey */
    color: #fff; /* white text */
}

.register{
    background-image: url('../public/pics/kuch.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pagination-item {
    --bs-pagination-active-border-color: red;
    --bs-pagination-color: white;
    --bs-pagination-active-color: red;
    --bs-pagination-bg: #333;
    --bs-pagination-active-bg: rgba(0, 0, 0, 0.5);
    --bs-pagination-hover-color: black;
    --bs-pagination-hover-bg: red;
}